.bat_wrapper {
  height: 280px;
  width: 380px;
  background-color: black;
  margin: auto;
  position: relative;
}

.bat_body {
  height: 100px;
  width: 300px;
  background: #ecaa53;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px 0 0 0;
}
.face_area {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: black;
  position: absolute;
  left: 100px;
  top: -60px;
}

.nose {
  height: 20px;
  width: 20px;
  background: #ecaa53;
  position: absolute;
  bottom: -2px;
  left: 37px;
}

.nose_futa_left {
  height: 10px;
  width: 10px;
  background: #ecaa53;
  position: absolute;
  top: -7px;
  left: -5px;
  border-radius: 50%;
}

.nose_futa_right {
  height: 10px;
  width: 10px;
  background: #ecaa53;
  position: absolute;
  top: -7px;
  right: -5px;
  border-radius: 50%;
}
.black_circle {
  height: 105px;
  width: 105px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: -35px;
  top: -1px;
}

.black_circle2 {
  height: 105px;
  width: 125px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 35px;
  top: 65px;
}

.black_circle3 {
  height: 105px;
  width: 125px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 150px;
  top: 65px;
}

.black_circle4 {
  height: 105px;
  width: 105px;
  background: black;
  border-radius: 50%;
  position: absolute;
  right: -38px;
  top: -2px;
}
